<h2>About Us</h2>
<h3>StormBrain is a new platform that will change the way researchers interact with each other and the world.
</h3>
<p>Do you remember 1998, when if you wanted a personal website, you had to make it yourself?
</p>
<p>Very few people made websites, and the functionality was… quaint. Then, social networking came around, and soon enough everyone had a website! These new personal pages (Facebook, LinkedIn, etc.) are easy and highly connected – they revolutionize the way we interact with each other.
</p>
<p><b>STORMBRAIN.CO is the long-overdue easy and connected network for research groups. Researchers will find that they can easily upgrade their website to the StormBrain format… because StormBrain is designed to be exactly what they need.
</b></p>
 

StormBrain WILL:

<li>Make your research group KEYWORDABLE and EASILY SEARCHABLE. This point is key. Imagine how long it would take you right now to compile a list of research groups worldwide who are studying, say, artificial intelligence. Then sort them by subdiscipline, country, etc. Okay.. thought about it? StormBrain has the search engine that will do this for you in a single query.
<li>Make it effortless to link to your publications.</li>
<li>Click someone’s name to see their entire list of publications.</li>
<li>Manage and host your media (videos, blog posts, etc.)</li>
<li>Keep track of present and past researchers – easily link to LinkedIn and ResearchGate profiles. (Clickable group pictures, anyone?)</li>
<li>Allow groups to list what instruments and equipment they would like to share with others – either collaboratively or for a fee. Imagine searching easily for the right equipment within your university, city, or country!</li>
<li>Enable prospective researchers to easily search for your group</li>
<li>Highlight your new ideas for collaboration in academia or industry. A list of past accomplishments is great, but what’s next? What (or who) are you looking for?</li>
<li>Inspire and facilitate academia/industry partnerships as well as formulate new startups. (There are various organizations that already help people do this, and these organizations can all benefit by using StormBrain as a tool to expand their connections and knowledge pool.)</li>
<li>Spark lateral collaboration between researchers – no more navigating through hierarchies to reach the right people! This is especially important for new graduate students and post-docs who don’t know anybody at their new facility, but want to make connections and get the ball rolling quickly.</li>
<li>Allow users to send private messages or engage in public discussions to share ideas.</li>

<br><p>That’s all for now folks — stay tuned for the first release! Make sure to sign up above for the email announcement.</p>